@import '../../../scss/variables/colors.scss';

.music-player {
  width: 100%;
  height: 90px;
  background-color: $primary-player-color;
  display: flex;
  align-items: center;
  z-index: 200;
  
  &__now-playing {
    width: 30%;
  }
  
  &__controls {
    width: 40%;
  }
  
  &__volume {
    width: 30%;
  }
}