@import 'src/scss/variables/colors';

.music-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: $primary-player-color;
  display: flex;
  align-items: center;
  z-index: 200;
  
  &__now-playing {
    width: 30%;
  }
  
  &__add-to-library {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      background-size: contain;
      background-image: url('../../../assets/img/icons/add.svg');
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
  
  &__controls-buttons {
    display: flex;
    justify-content: space-between;
    width: 224px;
    height: 32px;
    margin-bottom: 12px;
  }

  &__controls-button {
    position: relative;

    &--shuffle:after,
    &--previous:after,
    &--play:after,
    &--next:after,
    &--repeat:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      background-size: contain;
    }
    
    &--shuffle:after {
      background-image: url('../../../assets/img/icons/random.svg');
    }

    &--shuffle-active:after {
      background-image: url('../../../assets/img/icons/random-active.svg');
    }

    &--previous:after {
      background-image: url('../../../assets/img/icons/left.svg');
    }

    &--play:after {
      background-image: url('../../../assets/img/icons/play.svg');
    }

    &--pause:after {
      background-image: url('../../../assets/img/icons/pause.svg');
    }

    &--next:after {
      background-image: url('../../../assets/img/icons/right.svg');
    }

    &--repeat:after {
      background-image: url('../../../assets/img/icons/repeat.svg');
    }

    &--repeat-active:after {
      background-image: url('../../../assets/img/icons/repeat-active.svg');
    }
  }

  &__playback-bar {
    width: 100%;
    display: flex;
    align-items: center;
    
    &-progress-bar {
      position: relative;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $progress-bar;
      
      &-state {
        position: absolute;
        left: 0;
        top: 0;
        height: 4px;
        border-radius: 2px;
        max-width: 100%;
        width: 0;
        background-color: #fff;
      }
    }

    &-current-time,
    &-time-left {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: .015em;
      min-width: 40px;
      text-align: center;
      color: $font-song-time-color;
      user-select: none;
    }

    &:hover &-progress-bar-state {
      background-color: $primary-color-contrast;
    }
  }
  
  &__volume {
    width: 30%;
  }
}