<div class="library">
  <h1 class="content-title">Play Queue</h1>
  <div class="tracklist">
    <div class="tracklist__song-preview">
      <img class="tracklist__song-preview-cover" src="#" alt="">
      <div class="tracklist__song-preview-title">
        Song Name or Album
      </div>
      <button class="tracklist__song-preview-play">Play</button>
    </div>
    <div class="tracklist__song-list">
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song tracklist__song--playing">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">Artist name</div>
        </div>
        <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
      <div class="tracklist__song">
        <div class="tracklist__song-status">
  
        </div>
        <div class="tracklist__song-info">
          <div class="tracklist__song-info-name">Infinity 2008 - Klaas Vocal Edit</div>
          <div class="tracklist__song-info-album">
            <a class="tracklist__song-info-album-link" href="#">Artist name</a>
          </div>
        </div>
      <div class="tracklist__song-full-time">3:24</div>
      </div>
    </div>
  </div>
</div>
