@import 'src/scss/variables/colors';

.volume-settings {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 16px;
  
  &__song-list-button,
  &__volume-button {
    position: relative;
  }

  &__song-list-button:after,
  &__volume-button:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-size: contain;
  }

  &__song-list-button:after {
    background-image: url('../../../assets/img/icons/library.svg');
  }
  
  &__volume-button:after {
    background-image: url('../../../assets/img/icons/volume.svg');
  }

  &__volume-button--off:after {
    background-image: url('../../../assets/img/icons/volumeoff.svg');
  }

  &__volume-progress-bar {
    position: relative;
    width: 82px;
    height: 4px;
    border-radius: 2px;
    background-color: $progress-bar;
    margin-left: 2px;
    cursor: pointer;

    &-status {
      position: absolute;
      left: 0;
      top: 0;
      height: 4px;
      border-radius: 2px;
      max-width: 100%;
      width: 100%;
      background-color: #fff;
    }

    &:hover &-status {
      background-color: $primary-color-contrast;
    }
  }
}