<nav class="content-top-menu">
  <ul class="top-menu">
    <li class="top-menu__item" routerLink="/home" routerLinkActive="top-menu__item--active">
      <a class="top-menu__item-link" >Featured</a>
    </li>
    <li class="top-menu__item" routerLink="/discover" routerLinkActive="top-menu__item--active">
      <a class="top-menu__item-link" >Discover</a>
    </li>
    <li class="top-menu__item" routerLink="/library" routerLinkActive="top-menu__item--active">
      <a class="top-menu__item-link" >Your library</a>
    </li>
  </ul>
</nav>
