@import 'src/scss/variables/colors';
@import 'src/scss/mixins/mixins';

.content-title {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: #fff;
  text-transform: none;
  margin: 24px 0;
  text-align: center;
  user-select: none;
}

.content-box {
  
  &__album-grid {
    padding: 0 28px;
    display: grid;
    grid-template-columns: repeat(7, auto);

    @include r(1600) {
      grid-template-columns: repeat(6, auto);
    }

    @include r(1500) {
      grid-template-columns: repeat(5, auto);
    }

    @include r(1250) {
      grid-template-columns: repeat(4, auto);
    }

    @include r(1050) {
      grid-template-columns: repeat(3, auto);
    }
  }
}