<div class="music-player__info-bar">
  <div class="song-info">
    <div class="song-info__cover">
      <img class="song-info__cover-img" src={{nowPlayingSong?.cover}} alt="">
    </div>
    <div class="song-info__about">
      <div class="song-info__name">
        <a class="song-info__link song-info__link--song-name" href="#">{{nowPlayingSong?.name}}</a>
      </div>
      <div class="song-info__artist">
        <a class="song-info__link song-info__link--artist-name" href="#">{{nowPlayingSong?.artist}}</a>
      </div>
    </div>
  </div>
  <button class="music-player__add-to-library control-button"></button>
</div>
