<div class="music-player__controls-buttons">
  <button class="music-player__controls-button music-player__controls-button--shuffle control-button"></button>
  <button (click)="playPreviousSong()" class="music-player__controls-button music-player__controls-button--previous control-button"></button>
  <button (click)="playSong()" [ngClass]="{'music-player__controls-button--pause' : isPlaying}" class="music-player__controls-button music-player__controls-button--play control-button"></button>
  <button (click)="playNextSong()" class="music-player__controls-button music-player__controls-button--next control-button"></button>
  <button class="music-player__controls-button music-player__controls-button--repeat control-button"></button>
</div>
<div class="music-player__playback-bar">
  <div class="music-player__playback-bar-curent-time">{{currentSongTime | convertSeconds}}</div>
  <div (click)="handChangeCurrentSongTime($event)" #progressBar class="music-player__playback-bar-progress-bar">
    <div #progressBarStatus class="music-player__playback-bar-progress-bar-state"></div>
  </div>
  <div class="music-player__playback-bar-time-left">{{playingSong?.duration | convertSeconds}}</div>
</div>