@import '../../../scss/variables/colors.scss';

.album-preview-info {
  padding: 0 8px;
  margin-bottom: 25px;
  
  &__cover {
    max-width: 215px;
    max-height: 215px;
    min-width: 150px;
    min-height: 150px;
    background-color: $primary-player-color;
  }
  
  &__cover-img {
    display: block;
    width: 100%;
  }

  &__name {
    margin: 12px 0 4px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: $font-color;
    font-size: 14px;
    line-height: 20px;
  }

  &__autor {
    font-size: 12px;
    text-align: center;
    color: $font-song-unactive-color;

    &:hover {
      text-decoration: underline;
    }
  }
}