/* You can add global styles to this file, and also import other style files */
@import 'libs/reset';
@import 'mixins/mixins';
@import 'variables/colors';

body {
  background-color: $primary-color;
  font-family: 'Varela Round', sans-serif;
}

.control-button {
  background: $primary-color;
  border: none;
  width: 32px;
  height: 32px;
  
  &:hover {
    cursor: pointer;
  }
}